.classpath
.settings/
logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
*.pyc
.idea/
.project
*.iml
**/gen/*
**/bin/*
platforms/android/assets/www
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/wp8/www/
platforms/wp8/Bin
console.log
webapp/chrome.zip
webapp/www/*
obj/
**/Bin/Debug/*
*.suo
*.user
Thumbs.db
