<div class="jumbotron" ng-swipe-right="goto('settings')">
	<h3>Pandacoin PND Balance</h3>

	<div class="row-fluid">
		<img ng-show="showLogo1" src="img/pndBalance128.png" alt="Pandacoin PND Balance" title="Pandacoin PND Balance" class="aboutLogo"/>
		<img ng-hide="showLogo1" src="img/pandacoin128.png" alt="Pandacoin Logo" title="Pandacoin (PND)" class="aboutLogo"/>
		<p>See how many <a href="javascript:void(0)" ng-click="openLink('http://pandacoinpnd.org/')" target="_blank">Pandacoins</a> (PND) you own and what they're worth</p>
		<p>Version {{data.version}}</p>
		<p>By Drake Emko</p>
		<p><a href="javascript:void(0)" ng-click="openLink('http://d1nhig552bjwdu.cloudfront.net/support.html')" target="_blank">Support and FAQ</a> page</p>
		<p>Your feedback is welcome. Email: <a href="mailto:drakee@gmail.com">drakee@gmail.com</a></p>
		<p>Donate to the PND Development Community Chest: <span class="walletAddress balance">PBAdSebKmFuDUJP257xReuLnijkAtsP25E</span></p>
	</div>
</div>

<div class="footer">
	<strong>Pandacoin PND Balance</strong> uses data from the <a href="javascript:void(0)" ng-click="openLink('http://pnd.showed.us/')" target="_blank">Pandacoin (PND) Blockchain</a> and <a href="javascript:void(0)" ng-click="openLink('http://www.cryptocoincharts.info/')" target="_blank">CryptoCoinCharts</a> API.
</div>

