<div class="jumbotron" ng-swipe-right="goto('home')" ng-swipe-left="goto('settings')">
    <div class="row-fluid">
		<div class="span12">

			<form ng-submit="save()">
				<div ng-show="wallets.length <= 120">
					<a href="javascript:void(0)" ng-click="add()"><i class="fa fa-plus-circle plus"></i> Add Wallet</a>
				</div>

				<div class="error" ng-show="errors">
					<div ng-repeat="error in errors" ng-bind="error">
					</div>
				</div>

				<table class="table-balances" ng-repeat="wallet in wallets track by wallet.label + wallet.address">
					<tr>
						<td style="text-align:left"><a href="javascript:void(0)" ng-click="remove($index)"><i class="fa fa-minus-circle minus"></i></a></td>
						<td style="text-align:left"><input ng-model="wallet.label" placeholder="My Wallet" size="20" maxlength="20"/></td>
					</tr>
					<tr>
						<td style="text-align:left"></td>
						<td style="text-align:left"><input ng-model="wallet.address" size="44" maxlength="40"/></td>
					</tr>
				</table>
				<div class="actionButtons">
					<a href="javascript:void(0)" ng-click="cancel()"><i class="fa fa-times-circle cancel"></i> Cancel</a>
					&nbsp;&nbsp;
					<button><i class="fa fa-save save"></i> Save</button>
				</div>
			</form>

		</div>
	</div>
</div>
