<?xml version='1.0' encoding='utf-8'?>
<widget id="net.edrake.pandacoinbalance" version="1.0" android-versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pandacoin PND Balance</name>
    <description>
		See how many Pandacoins (PND) you own and what they're worth.
    </description>
    <author email="drakee@gmail.com" href="https://github.com/psydrake">
        Drake Emko
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
