/* app css stylesheet */

body {
    font-family: acme, tahoma, arial, sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*
    Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
    But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to remove
    empty href attributes from directive templates and as a result styling is not applied correctly. The remedy is simple, just add
    the following styling to your application:
*/
.nav, .pagination, .carousel a { cursor: pointer; }

.nav { padding-top: 10px; }

body {
    padding-top: 20px;
    padding-bottom: 60px;
	background-image:url(../img/background.jpg);
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    /*margin: 80px 0;*/
    margin: 20px 0;
    text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 15px;
	padding-left: 15px;
}
.jumbotron h1 {
    /*font-size: 72px;*/
    line-height: 1;
}
.jumbotron .lead {
    /*font-size: 24px;*/
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.navbar { margin-bottom: 10px; }

/* from http://getbootstrap.com/2.3.2/examples/justified-nav.html */
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    /*border-left: 1px solid rgba(255,255,255,.75);*/
    /*border-right: 1px solid rgba(0,0,0,.1);*/
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/* Price colors indicating up, down, or steady */
.priceUp {
    color: green;
}

.priceSame {
    color: dodgerblue;
}

.priceDown {
    color: red;
}

.priceUnknown {
	color: goldenrod;
}

.left {
	float: left;
}

.right {
	float: right;
}

.currency {
	text-align: right;
}

.highPrice {
	float:right; 
	padding-right:30px; 
	padding-bottom:20px;
}

.lowPrice {
	float:right;
	padding-right:30px;
}

.table-settings {
	width:50%;
}

.footer {
	text-align: center;
	padding-bottom: 15px;
}

.table-balances {
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

.table-balances td {
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
}

.balance {
	color: green;
}

.minus {
	color: red;
}

.plus {
	color: green;
}

.walletEntry {
	padding-bottom: 15px;
}

.walletAddress {
	font-size: smaller;
}

.save {
	color: blue;
}

.actionButtons {
	padding-top:10px;
}

.error {
	color: red;
}

.cancel {
	color: red;
}

.masthead {
	background: white;
	border-radius: 12px;
}

.fine-print {
	font-size: smaller;
}

.aboutLogo {
	padding: 10px;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 640px){
    .table-balances input {
		width: 340px;
	}
}

@media screen and (max-width: 480px){
    .table-balances input {
		width: 270px;
	}

	.walletAddress {
		font-size: small;
	}
}

@media screen and (max-width: 400px){
    .table-balances input {
		width: 220px;
	}

	.walletAddress {
		font-size: x-small;
	}
}

@Media screen and (max-width: 380px){
    .table-balances input {
		width: 186px;
	}
}
